
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    overflow: hidden; /* 禁用滚动条 */
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-header {
    padding: 20px;
    background-color: #343a40;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar-menu li a:hover {
    background-color: #495057;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px); /* 确保右边内容部分的宽度固定 */
}