.import-button, .add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    border: none; /* Delete: border: 1px solid #dee2e6; */
}

.schedule-table th, .schedule-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e6; /* Delete: 删除此行以避免覆盖common.css中的样式 */
}

.schedule-table th {
    background-color: #f2f2f2;
}

.edit-button, .delete-button {
    width: 52px;
    height: 34px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.edit-button {
    background-color: #ffc107;
}

.delete-button {
    background-color: #dc3545;
}